body {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  width: 980px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: red;
  padding: 20px;
  height: 100px;
  width: 980;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
.marca {
  width: auto;
  padding: auto;
}
.marca img {
  width: 180px;
  margin-left: 10px;
}
.marca span {
  font-size: x-large;
  color: white;
  margin-bottom: 20px;
}

.rigth {
  grid-row: 2;
  grid-column: 2;
}
.left {
  grid-row: 2;
  grid-column: 1;
}
section {
  padding: 10px;
}
.textoModi {
}

.textoModi p {
  font-size: 14px;
  text-align: center;
  color: black;
}

.objetivos {
  text-align: center;
  vertical-align: middle;
  color: black;
  font-size: 16px;
}

footer {
  padding: 20px;
  height: 100px;
  width: 980;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
}

.desa {
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
  color: #464646;
}
.links {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.formulario {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.all {
  grid-column: 1 / 4;
}
input {
  width: 800px;
  margin: 5px 0 5px 0;
  height: 20px;
}
label {
  font-size: 12px;
}
.enviar {
  color: white;
  background-color: green;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 5px;
}
